
nav
	.row

		.large-8.small-12.columns
			a(href="/prepros") Home
			a(href="/docs/") Docs
			a(href="/prepros/faq.php") FAQ
			a(href="/prepros/changelog.php") Changelog
			a(href="http://github.com/sbspk/Prepros/issues") Issues